webview {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  height: 96%;
  display: inline-flex !important;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 0 0 auto;
  width: 100%;
  overflow: hidden;
}